<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-3">
      <a class="navbar-brand" routerLink="/">Finance App</a>
      <div class="navbar-collapse d-sm-inline-flex justify-content-between collapse">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/transactions" routerLinkActive="active">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/transactions" routerLinkActive="active">Cards</a>
          </li>
        </ul>
      </div>
  </nav>
</header>
