.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-column: 1 / -1;
}

.login p{
  font-size: small;
}

.dark-theme .login {
  background-color: #121212;
}

.login form {
  max-width: 400px;
  width: 100%;
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--radius-3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login h2 {
  margin-bottom: 0.5rem;
    font-weight: 900;
  font-size: xx-large;
  color: var(--color-dark);
}

.login .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login label {
  font-weight: 500;
  color: var(--color-gray-dark);
}

.login .input {
  padding: 0.75rem 1rem;
  background: var(--color-light);
  border-radius: var(--radius-1);
  color: var(--color-dark);
  font-size: 1rem;
  transition: var(--transition);
}

.login .input:focus {
  background: var(--color-white);
  box-shadow: 0 0 0 2px var(--color-primary-light);
}

.login button {
  padding: 0.75rem 1rem;
  border-radius: var(--radius-1);
  font-weight: 600;
  transition: var(--transition);
}

.login small {
  font-size: small;
  margin-top: 1rem;
  text-align: center;
}

.login .text-white {
  color: var(--color-white);
}

.logo-container {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-white);
  border-radius: var(--radius-3);
  padding: 0.5rem 1rem;
  box-shadow: 0 2rem 3rem var(--color-danger-light);
  z-index: 10;
}

.logo {
  height: 90px;
}
