.credit-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 400px;
  background-color: lightskyblue;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.pin {
  height: 40px;
  width: 60px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  flex-grow: 1;
  position: absolute;
  z-index: 1;
  top: 40%;
}

.card-number, .card-expiry {
  color: black;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}
